<h1>Your order has been created!</h1>
<h2>Here is the summary:</h2>
<h3>Order ID:<%= @order.id %>
<br>
<% cart = CartedProduct.where(user_id: current_user.id, order_id: @order.id, status: "Ordered") %>
<% cart.each do |item| %>
<%= item.product.name %>
<img src="<%= item.product.images.first.link %>" alt="">
<% end %>
<br>
Total Subtotal: <%= @order.subtotal %>
<br>
Total Tax: <%= @order.tax.round(2) %>
<br>
Total Price: <%= @order.total.round(2) %>
